html {
  background-color: whitesmoke;
}

#root {
  padding-bottom: 110px;
}

.header {
  text-align: center;
}

h3 {
  margin-top: 0;
}

.searchResultCard {
  margin: 2em;
  padding: 2em;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 12px;
}

.searchResultDetails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.searchResultDetails img {
  margin: 0 1em 1em;
}

.searchResultDesc {
  min-width: 260px;
  /* margin-left: 2em;
  margin-top: 0em; */
  flex: 1;
}

/* @media (max-width: 563px) {
  .searchResultDesc {
    margin-left: 0em;
    margin-top: 2em;
    flex: 1;
  }
} */

.searchResultDesc button {
  margin: 1em 0 0;
  display: block;
  height: 40px;
  padding: 0 2em;
  background-color: sienna;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: bold;
}

.selectionCard {
  position: fixed;
  min-height: 80px;
  display: flex;
  flex-wrap: wrap;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  background-color: white;
  border-top: 1px solid lightgray;
  align-items: center;
}

.selectionShow {
  margin: 1em
}

.randomButtons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-right: .75em;
}

.startRandom {
  height: 40px;
  padding: 0 1em;
  background-color: sienna;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clearRandom {
  height: 30px;
  padding: 0 1em;
  background-color: white;
  color: gray;
  border: none;
  margin-top: 8px;
}